.gallery {
  display: flex;
  flex-wrap: wrap;
  h5{
    display: block;
    width: 100%;
    margin: 16px 0;
  }
  h2{
    
  }
  &__link {
    width: 100%;
  }
  &__item {
    max-width: 50%;
    flex: 0 0 50%;
    padding: 0 16px;
    margin-bottom: 32px;
    &:hover {
      h3 {
        text-decoration: underline;
      }
    }
    @media (max-width: 540px) {
      flex: 100%;
      max-width: 100%;
    }
  }
  &__img {
    margin-bottom: 16px;
    height: 170px;
    img{
      object-fit: cover;
    }
  }
}
.gallery {
  .group {
    
    display: flex;
    flex-wrap: wrap;
    li {
      a {
        aspect-ratio: 1280/548;
        @media (max-width: 540px) {
        }
        img {
          object-fit: cover;
        }
      }
    }
  }
  &-item {
    max-width: 33.333%;
    flex: 0 0 33.333%;
    padding: 0 8px;
    margin-bottom: 16px;
    padding-left: 0 !important;
    &::before{
      display: none;
    }
    @media (max-width: 740px) {
      max-width: 50%;
      flex: 0 0 50%;
    }
  }
}

.mfp-bottom-bar{
  margin-top: -40px;
  height: 26px;
  padding: 4px 8px;
  background-color: $red;
}
.mfp-counter{
  top: 4px;
  right: 4px;
}
