.navigation {
  width: 390px;
  background-color: #fff;
  padding: 45px 20px;
  box-shadow: 0 10px 44px 0 rgba(41, 37, 36, 0.15);
  border: solid 1px #e4e6ea;
  &__bottom {
    &-logo {
      width: 69px;
      height: 69px;
      margin: 0 auto 30px;
      display: block;
      img {
        object-fit: contain;
      }
    }
  }
  .logo {
    width: 200px;
    height: 207px;
    display: block;
    margin: 0 auto 82px;
  }
}

.icon-books:before {
  content: '';
  top: -10px;
  position: absolute;
  left: 0;
  width: 19px;
  height: 19px;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../images/svg/books.svg');
}
.icon-foto:before {
  content: '';
  top: -10px;
  position: absolute;
  left: 0;
  width: 22px;
  height: 19px;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../images/svg/fotogalerie.svg');
}

.navbar {
  padding: 20px 0;
  margin-bottom: 155px;
  &__dropdown {
    height: 100%;
    display: block;
    position: static;
    box-shadow: none;
    display: none;
    li {
      padding-left: 40px;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 18px;
        height: 18px;
        background-size: cover;
        background-repeat: no-repeat;
        top: 5px;
        background-image: url('../images/content/hockey-ball.png');
      }

      a {
        color: #000;
      }
    }
  }
 
  &__list {
    margin-bottom: 21px;
    cursor: pointer;
    position: relative;
    &:hover {
      .navbar__link {
        color: $red;

        i::before {
          // color: $red;
        }
      }
    }
    &.active {
      .navbar__item {
        display: block;
      }
      .navbar__link {
        display: flex;
        color: $red;
        i::before {
          color: $red;
        }
      }
      .navbar__dropdown {
        height: 100%;
        display: block;
        li {
          width: 100%;
          text-align: left;
          a {
            display: block;
            width: 100%;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  &__link {
    font-weight: 700;
    letter-spacing: -1px;
    transition: all 0.2s;
  }
}
