.typo {
  padding: 77px 0 0px; 
  h3{
    margin-bottom: 24px;
  }
  a{
    &:hover{
      text-decoration: underline;
    }
  }
  ul {
    margin-bottom: 40px;
    li + li {
      margin-top: 8px;
    }
    li {
      font-size: 0.875rem;
      line-height: 1.57;
      padding-left: 32px;
      position: relative;
      display: flex;
      align-items: center;
      
      &:hover {
        a {
          text-decoration: underline;
        }
      }
      &::before {
        content: '';
        position: absolute;
        background-image: url('../images/svg/odrazky.svg');
        width: 15px;
        height: 9.6px;
        left: 2px;
        background-repeat: no-repeat;
        background-size: cover;
        top: 6px;
      }
    }
  }
  h5 {
    text-transform: uppercase;
    margin: 48px 0px 13px 11px;
    display: block;
    color: $red;
    font-size: 1.3125rem;
    font-weight: 800;
    line-height: normal;
  }
  table {
    width: 100% !important;
    margin-bottom: 32px;
    td:first-child {
      font-weight: 700;
    }
  }
  &__video {
    margin-top: 99px;
    margin-bottom: 40px;

    h2 {
      font-size: 3.1688rem;
      font-weight: 800;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.68;
      letter-spacing: -2.25px !important;
      margin-left: -6px;
      margin-bottom: 28px !important;
      span {
        font-weight: bold;
        color: $red;
        display: block;
        font-size: 3.7125rem;
        font-family: 'Caveat', cursive;
        margin-top: -4px;
        font-weight: 700;
        letter-spacing: -1.9px;
      }
    }
    &-row {
      display: flex;
      margin-left: -19px;
      margin-right: -9px;
    }
    &-box {
      padding: 0 14px;
      flex: 0 0 63%;
      max-width: 63%;
      iframe {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    &-ban {
      padding: 0 14px;
      max-width: 37%;
      flex: 0 0 37%;
      img {
        object-fit: cover;
      }
    }
  }
  .table-responsive {
    padding: 0 0 0 6px;
    overflow: auto;
    table {
      width: 820px;
    }
  }
  &__table {
    margin-bottom: 32px;
    h6 {
      color: $red;
      text-transform: uppercase;
      margin-bottom: 20px;
      margin-left: -3px;
    }
  }
  &__post {
    display: flex;
    margin-left: -18px;
    margin-right: -18px;
    margin-bottom: 40px;

    &-info {
      text-align: center;
      max-width: 190px;
      margin: 0 18px;
      padding: 26px 0;
      width: 100%;
      height: 200px;
      border: 1px solid #d6dfe8;
      h6 {
        margin-top: 13px;
        font-size: 1.125rem;
        color: #3c2a98;
      }
      p {
        font-family: revolution-gothic, sans-serif;
        font-weight: 700;
        font-size: 0.875rem;
      }
      img {
        width: 88px !important;
        height: 88px !important;
        object-fit: cover;
        padding: 0 !important;
        border-radius: 50%;
        margin: 0 auto;
        min-height: auto !important;
        max-height: auto !important;
      }
    }
    &:nth-of-type(odd) {
      flex-flow: row-reverse;
    }
    img {
      padding: 0 18px;
      width: 226px;
      height: auto;
      max-height: 200px;
      min-height: 167px;
      object-fit: cover;
    }
    p {
      padding: 0 18px;
    }
  }
  h2 {
    letter-spacing: -2.65px;
    margin-bottom: 34px;
  }
}
.perex {
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 37px;
}

#frm-contactForm {
  textarea {
    width: 100%;
    padding: 12px 16px 13px 16px;
    border-radius: 6px 0px 0px 6px;
    border: solid 1px #e4e6ea;
    height: 240px;
    resize: vertical;
    max-height: 420px;
  }

  tr td {
    padding-top: 4px;
    padding-bottom: 16px;
    input {
      padding: 12px 16px 13px 16px;
      border-radius: 6px 0px 0px 6px;
      border: solid 1px #e4e6ea;
      height: 56px;
      background-color: #fff;
      position: relative;
      width: 100%;
      max-width: 100%;
    }
  }
  tr th {
    padding-top: 4px;
    padding-bottom: 0px;
  }
  tr td,
  tr th {
    display: block;
    border-bottom: none;
  }
  .button {
    height: 56px;
    width: fit-content;
    display: block;
    border-radius: 6px;
    border: none;
    background-color: #2158d5;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    text-align: center;
    color: #fff;
    padding: 4px 22px;
    cursor: pointer;
    margin: 0 auto;
  }
}

@media (max-width: 770px) {
  .typo {
    table {
      tbody {
        display: flex;
        flex-wrap: wrap;
        tr {
          display: block;
          padding: 8px 12px;
          max-width: 33.333%;
          flex: 0 0 33.333%;
          border: 0.5px solid #d6dfe8;
          td {
            text-align: center;
            display: block;
            border-bottom: none;
            padding: 4px 0 4px;
          }
        }
      }
    }
  }
}
@media (max-width: 640px) {
  .typo table tbody tr {
    max-width: 50%;
    flex: 0 0 50%;
  }
}
@media (max-width: 400px) {
  .typo table tbody tr {
    max-width: 100%;
    flex: 100%;
  }
}
